.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    animation: fade-in 1s ease-in-out;
  }
  
  .photo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex: 0.5;
    width: 300px;
    margin-left: 250px;
    margin-top: 60px;
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  .text {
    flex: 1;
    margin-right: 250px;
    margin-left: 100px;
    text-decoration: wavy;
  }
  
  h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
      margin-bottom: 20px;
      text-transform:uppercase;
      text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),
                 3px 4px 4px rgba(179, 147, 211, 0.15),
                 4px 6px 4px rgba(179, 147, 211, 0.2),
                 5px 8px 4px rgab(179, 147, 211, 0.25);
  }
  
  p {
    font-size: 1em;
    line-height: 1.5em;
    color: #a19e9e;
  }
  
.large {
	font-size: 2rem;
}

.small {
	font-size: 3rem;
}

.rise {
	text-shadow: -0.01em -0.01em 0.01em #000;
	animation: rise 2s ease-in-out 0.5s forwards;
}

@keyframes rise {
	to {
		text-shadow: 0em 0.01em rgb(17, 171, 218), 0em 0.02em rgb(17, 198, 211), 0em 0.02em 0.03em rgb(23, 202, 226),
			-0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333,
			-0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #0eced4,
			-0.03em -0.03em 0.03em #08d8c7;
		transform: translateY(-0.025em) translateX(0.04em);
	}
}

.outline {
	background-clip: text;
	color: #ffdd40;
	animation: outline 1s ease-in-out 1.5s forwards;
}

@keyframes outline {
	from {
		text-shadow: 0em -7em 10em #fff;
	}
	to {
		text-shadow: 0 0.02em #fff, 0.02em 0 #fff, -0.02em 0 #fff, 0 -0.02em #fff;
	}
}
