body {
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px; /* Increased max-width */
    padding: 40px; /* Increased padding */
    border: 2px solid #ccc; /* Increased border size */
    border-radius: 10px; /* Increased border radius */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    margin-top: 50px; /* Adjusted margin-top */
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.picture {
    flex: 1;
    padding: 20px;
}

.details {
    flex: 2;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
p {
	margin: auto;
    color: #bebebe;
}

.large {
	font-size: 2rem;
}

.small {
	font-size: 3rem;
}

.rise {
	text-shadow: -0.01em -0.01em 0.01em #000;
	animation: rise 2s ease-in-out 0.5s forwards;
}

@keyframes rise {
	to {
		text-shadow: 0em 0.01em rgb(17, 171, 218), 0em 0.02em rgb(17, 198, 211), 0em 0.02em 0.03em rgb(23, 202, 226),
			-0.01em 0.01em #333, -0.02em 0.02em #333, -0.03em 0.03em #333,
			-0.04em 0.04em #333, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #0eced4,
			-0.03em -0.03em 0.03em #08d8c7;
		transform: translateY(-0.025em) translateX(0.04em);
	}
}

.outline {
	background-clip: text;
	color: #ffdd40;
	animation: outline 1s ease-in-out 1.5s forwards;
}

@keyframes outline {
	from {
		text-shadow: 0em -7em 10em #fff;
	}
	to {
		text-shadow: 0 0.02em #fff, 0.02em 0 #fff, -0.02em 0 #fff, 0 -0.02em #fff;
	}
}